.venv/
venv/
ENV/
env/
.env
.env.*

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Robot Framework outputs
output.xml
report.html
log.html
results/

# Test runners / coverage
.pytest_cache/
.coverage
htmlcov/

# Packaging/build
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Editor / OS files
.vscode/
.idea/
*.iml
.DS_Store

# Type check / lint caches
.mypy_cache/
.pyre/

# Misc
*.log
